#login_pic{
	float: left;
	width: 50%;
	margin-top: 45px;
	margin-left: 70px;
}
#login_pic img{
	width: 450px;
	height: 350px;
	position: relative;
	z-index: 1;
	top: 0;
	left: 0;
}
#login_frame{
	float: right;
	width: 37%;
	margin-top: 45px;
	margin-right: 45px;
	border-style: solid;
	border-color: #f6f6e7;
	background-color: #E9E3E3;
}
#login_frame .login_row{
	margin-top: 20px;
	margin-bottom: 20px;
}
#login_title{
	text-align: center;
	font-size: 20px;
	font-family: "microsoft yahei";
	margin-top: 30px;
	margin-bottom: 50px;
}
#login_frame .login_input{
	margin: 20px;
}
#login_frame .login_input input{
	width: 75%;
	height: 40px;
	margin: auto;
	font-weight:normal;
}
#login_frame .login_btn{
	text-align: center;
	margin: 40px 0px 20px; 
}
#login_frame .login_btn button{
	width: 35%;
}
#login_frame .login_btn .login_a{
	margin-left: 20px;
}
#login_frame .login_register{
	text-align: right;
	margin-right: 15px;
}
#login_frame a{
	font-weight:normal;
	color: #A9A9A9;
}
#loginFooter{
	padding: 10px;
	margin-top: 110px;
	width: 70%;
	clear: both;
	text-align: center;
}
