.dividedList{
	border: 2px solid #cacecf;
	height: 200px;
	background-color:#fff;
	position: absolute;
	display: none;
}
.office{
	height: 200px;
}
.divide_title{
	list-style-type: none;
	height: 100%;
	width: 110%;
}

.title_row{
	display: inline-block;
	width: 23%;
	height: 100%;
	/*border-left: 1px solid black;*/
}
.row_last{
	border-right: 1px solid white;
}
.title_row p{
	margin-right:20px;
	text-align: left;
    border-bottom: 1px solid black;
	color: black;
	font-style: "微软雅黑";
	font-size: 25px;
	position: relative;
	right: 30px;
	/*margin-top: 10px;*/
}
.divide_content{
	list-style-type: none;
	height: 90%;
	margin: auto;
}
.divide_content li{
	height: 50px;
	text-align: center;
	display: inline;
}

.divide_content li a{
	border-left: 2px solid #d9d9d9;
    padding-left:5px;
	position: relative;
	right: 80px;
    height: 20px;
    color: gray;
	font-style: "微软雅黑";
	font-size: 15px;
	float: left;
	margin: 10px;
}
.red{
color: red;
}
